<div class="signin-container">
    <form (submit)="onSubmit()">
      <!-- Social Media Type Dropdown -->
      <label for="socialMedia">Choose a platform:</label>
      <select id="socialMedia" name="socialMedia" [(ngModel)]="selectedPlatform" (change)="updateForm()">
        <option value="Instagram">Instagram</option>
        <option value="TikTok">TikTok</option>
        <option value="YouTube">YouTube</option>
      </select>
  
      <!-- Username -->
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username">

      <!-- Email -->
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" [(ngModel)]="email">
  
      <!-- Number of Followers -->
      <label for="followers">Number of Followers:</label>
      <input type="number" id="followers" name="followers" [(ngModel)]="followers">

      <label for="currentDate">Current Date:</label>
      <input type="date" id="currentDate" name="currentDate" [(ngModel)]="currentDate">
  
      <!-- Post Metrics (Dynamically filled based on selection) -->
      <div *ngFor="let post of posts; let i = index">
        <fieldset>
          <legend>Post {{ i + 1 }} Metrics:</legend>
          <select *ngIf="selectedPlatform !== 'YouTube'" [(ngModel)]="post.type" name="postType{{i}}">
            <option *ngIf="selectedPlatform === 'Instagram'" value="reel">Reel</option>
            <option *ngIf="selectedPlatform === 'Instagram'" value="post">Post</option>
            <option *ngIf="selectedPlatform === 'TikTok'" value="video">Video</option>
            <option *ngIf="selectedPlatform === 'TikTok'" value="picture">Picture</option>
          </select>
          <label for="likes{{i}}">Likes:</label>
          <input type="number" name="likes{{i}}" placeholder="Likes" [(ngModel)]="post.likes">
          <label for="comments{{i}}">Comments:</label>
          <input type="number" name="comments{{i}}" placeholder="Comments" [(ngModel)]="post.comments">
          <label for="caption{{i}}">Caption:</label>
          <input type="text" name="caption{{i}}" placeholder="Caption" [(ngModel)]="post.caption">
          <label for="date{{i}}">Date:</label>
          <input type="date" name="date{{i}}" [(ngModel)]="post.date">
        </fieldset>
      </div>
      
      <!-- Existing form content -->
      <button type="submit">Submit</button>
      <!-- Dashboard Navigation Button -->
      <button type="button" (click)="navigateToDashboard()">Dashboard</button>
    </form>
  </div>
  