<div class="signin-container">
    <form (submit)="onSubmit()">
      <!-- Social Media Type Dropdown -->
      <label for="socialMedia">Choose a platform:</label>
      <select id="socialMedia" name="socialMedia" [(ngModel)]="selectedPlatform" (change)="updateForm()">
        <option value="Instagram">Instagram</option>
        <option value="TikTok">TikTok</option>
        <option value="YouTube">YouTube</option>
      </select>
  
      <!-- Username -->
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username">
  
      <!-- Number of Followers -->
      <fieldset>
        <legend>Followers in the last 5 months:</legend>
        <input type="number" name="followersMonth1" placeholder="Month 1" [(ngModel)]="followers[0]">
        <input type="number" name="followersMonth2" placeholder="Month 2" [(ngModel)]="followers[1]">
        <input type="number" name="followersMonth3" placeholder="Month 3" [(ngModel)]="followers[2]">
        <input type="number" name="followersMonth4" placeholder="Month 4" [(ngModel)]="followers[3]">
        <input type="number" name="followersMonth5" placeholder="Month 5" [(ngModel)]="followers[4]">
      </fieldset>
  
      <!-- Post Metrics (Dynamically filled based on selection) -->
      <div *ngFor="let post of posts; let i = index">
        <fieldset>
          <legend>Post {{ i + 1 }} Metrics:</legend>
          <select *ngIf="selectedPlatform !== 'YouTube'" [(ngModel)]="post.type" name="postType{{i}}">
            <option *ngIf="selectedPlatform === 'Instagram'" value="reel">Reel</option>
            <option *ngIf="selectedPlatform === 'Instagram'" value="post">Post</option>
            <option *ngIf="selectedPlatform === 'TikTok'" value="video">Video</option>
            <option *ngIf="selectedPlatform === 'TikTok'" value="picture">Picture</option>
          </select>
          <input type="number" name="likes{{i}}" placeholder="Likes" [(ngModel)]="post.likes">
          <input type="number" name="comments{{i}}" placeholder="Comments" [(ngModel)]="post.comments">
          <input type="number" name="shares{{i}}" *ngIf="selectedPlatform !== 'Instagram'" placeholder="Shares" [(ngModel)]="post.shares">
          <input type="number" name="saves{{i}}" *ngIf="selectedPlatform !== 'Instagram'" placeholder="Saves" [(ngModel)]="post.saves">
          <input type="text" name="caption{{i}}" placeholder="Caption" [(ngModel)]="post.caption">
          <input type="date" name="date{{i}}" [(ngModel)]="post.date">
        </fieldset>
      </div>
      
      <!-- Existing form content -->
      <button type="submit">Submit</button>
      <!-- Dashboard Navigation Button -->
      <button type="button" (click)="navigateToDashboard()">Dashboard</button>
    </form>
  </div>
  