<table>
    <tbody>
      <tr *ngFor="let row of staticTableData">
        <td *ngFor="let cell of row">{{ cell.value }}</td>
      </tr>
    </tbody>
  </table>
  
<div>
  <select [(ngModel)]="selectedMetric" (change)="fetchData()">
    <option value="followerGrowth">Follower Growth</option>
    <option value="likesPerContentType">Likes per Content Type</option>
    <option value="commentsPerContentType">Comments per Content Type</option>
  </select>
</div>

<div *ngIf="tableData1">
  <table>
    <tr>
      <th>Past Follower numbers</th>
      <th>TikTok</th>
      <th>Instagram</th>
      <th>Facebook</th>
    </tr>
    <tr *ngFor="let row of tableData">
      <td>{{ row.category }}</td>
      <td>{{ row.value[0] }}</td>
      <td>{{ row.value[1] }}</td>
      <td>{{ row.value[2] }}</td>
    </tr>
  </table>
</div>

<div *ngIf="tableData2">
  <table>
    <tr>
      <th>Total likes</th>
      <th>TikTok</th>
      <th>Instagram</th>
      <th>Facebook</th>
    </tr>
    <tr *ngFor="let row of tableData">
      <td>{{ row.category }}</td>
      <td>{{ row.value[0] }}</td>
      <td>{{ row.value[1] }}</td>
      <td>{{ row.value[2] }}</td>    
    </tr>
  </table>
</div>

<div *ngIf="tableData3">
  <table>
    <tr>
      <th>Total comments</th>
      <th>TikTok</th>
      <th>Instagram</th>
      <th>Facebook</th>
    </tr>
    <tr *ngFor="let row of tableData">
      <td>{{ row.category }}</td>
      <td>{{ row.value[0] }}</td>
      <td>{{ row.value[1] }}</td>
      <td>{{ row.value[2] }}</td>    
    </tr>
  </table>
</div>

